* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --pink: hsl(320, 69%, 42%);
  --dark-blue: hsl(244, 38%, 28%);
  --bg-white: hsl(283, 47%, 97%);
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-white {
  background-color: var(--bg-white);
}

h2, h3 {
  color: var(--pink);
  font-weight: 900;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.9rem;
}

p {
  color: var(--dark-blue);
}

header {
  text-align: center;
}

header h2 {
  margin-top: 1.7rem;
}

header p {
  margin-top: .5rem;
  font-size: 2.0rem;
  font-weight: 600;
}

header .arrow {
  width: 59px;
  height: 105px;
  margin: 3.5rem 0 9.3rem;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 4.9rem;
  padding: 4rem 3.9rem;
}

.card {
  border-radius: 1.9rem;
  padding: 2.6rem;
}

.card h3 {
  margin-top: 3.3rem;
}

.card p {
  margin-top: 2.0rem;
  text-align: left;
  font-weight: 600;
  padding-right: 3.3rem;
}

#contact {
  padding: 7.8rem 3.9rem 6.5rem 4.0rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 4.3rem;
}

fieldset {
  border: none;
}

input .form {
  color: var(--dark-blue);
  font-family: 'Mulish', sans-serif;
}

footer {
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  padding: 1.6rem;
}
