* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --pink: hsl(320, 69%, 42%);
  --dark-blue: hsl(244, 38%, 28%);
  --bg-white: hsl(283, 47%, 97%);
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-white {
  background-color: var(--bg-white);
}

h1, h2 {
  color: var(--pink);
}

p {
  color: var(--dark-blue);
}

#content {
  display: flex;
  flex-direction: column;
  gap: 4.9rem;
  padding: 4rem 3.9rem;
}

.card {
  border-radius: 1.9rem;
  padding: 2.6rem;
}

.card h2 {
  margin-top: 3.3rem;
}

.card p {
  margin-top: 2.0rem;
  text-align: left;
  padding-right: 3.3rem;
}

footer {
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 1.6rem;
}
